personal.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"  
xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="STUDENTS">
<xs:complexType>
<xs:sequence>
<xs:element name="STUDENT">
<xs:complexType>
<xs:sequence>
<xs:element name="STUDENTDATA">
<xs:complexType>
<xs:sequence>
<xs:element type="xs:string" name="NAME"/>
<xs:element type="xs:string" name="ID"/>
<xs:element type="xs:float" name="AGE"/>
<xs:element type="xs:string" name="ADDRESS"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>

